{% extends 'profile.html' %}

{% block profileinfo %}
    <h3>Edit Profile</h3>
    <form action="{% url 'changepassword' %}" method="POST">
        {% csrf_token %}

        <label for="first_name">Current Password</label><br>
        <input type="text" id="first_name" name="cu_password" value="{{cu_password}}" required><br><br>
        <label for="first_name">New Password</label><br>
        <input type="text" id="first_name" name="new_password" value="{{new_password}}" required><br><br>
        <label for="first_name">Confirm New Password</label><br>
        <input type="text" id="first_name" name="con_new_password" value="{{con_new_password}}" required><br><br>

        <button type="submit">Save Changes</button>
    </form>
{% endblock profileinfo %}