<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This is news page</h1>
    <table border="1">
        <tr>
            <td>Name</td>
            <td>Department</td>
            <td>City</td>
        </tr>
        <tr>
            <td>Tansen</td>
            <td>CSE</td>
            <td>Dhaka</td>
        </tr>
    </table>
</body>
</html>