{% extends 'common/base.html' %}

{% block content %}
<h1>Hey {{user.first_name}} {{user.last_name}}</h1>
<h2>User Type: {{user.user_type}}</h2>
{% if user.user_type == 'user' %}
<h3>Total category:</h3>
<p>{{total_cat}}</p>

<div style="display: flex; justify-content: space-around;">
    <div>
        <h3>Total task:</h3>
        <p>{{all_task_count}}</p>
        <table border="1">
            <tr>
                <th>created_by</th>
                <th>task name</th>
                <th>task priority</th>
                <th>task status</th>
                <th>Action</th>
            </tr>

            {% for i in all_task %}
            <tr>
                <td>{{i.created_by}}</td>
                <td>{{i.task_name}}</td>
                <td>{{i.task_priority}}</td>
                <td>{{i.task_status}}</td>
                <td>
                    <a href="{% url 'edittask' i.id %}" style="border: 2px solid">Edit</a>
                    <a href="{% url 'taskdel' i.id %}" style="border: 2px solid  ">Delete</a>
                    <a href="{% url 'markascompleted' i.id %}" style="border: 2px solid ">Mark as Complete</a>
                    <a href="{% url 'markasincompleted' i.id %}" style="border: 2px solid ">Mark as In Complete</a>
                </td>
            </tr>
            {% endfor %}

        </table>
    </div>

    <div>
        <h3>Completed task:</h3>
        <p>{{com_count}}</p>
        <table border="1">
            <tr>
                <th>created_by</th>
                <th>task name</th>
                <th>task priority</th>
                <th>task status</th>
                <th>Action</th>
            </tr>

            {% for i in completed_task %}
            <tr>
                <td>{{i.created_by}}</td>
                <td>{{i.task_name}}</td>
                <td>{{i.task_priority}}</td>
                <td>{{i.task_status}}</td>
                <td>
                    <a href="{% url 'edittask' i.id %}" style="border: 2px solid">Edit</a>
                    <a href="{% url 'taskdel' i.id %}" style="border: 2px solid  ">Delete</a>
                    <a href="{% url 'markascompleted' i.id %}" style="border: 2px solid ">Mark as Complete</a>
                    <a href="{% url 'markasincompleted' i.id %}" style="border: 2px solid ">Mark as In Complete</a>
                </td>
            </tr>
            {% endfor %}

        </table>
    </div>
</div>

<div style="display: flex; justify-content: space-around;">
    <div>
        <h3>Incompleted task:</h3>
        <p>{{incom_count}}</p>
        <table border="1">
            <tr>
                <th>created_by</th>
                <th>task name</th>
                <th>task priority</th>
                <th>task status</th>
                <th>Action</th>
            </tr>

            {% for i in incompleted_task %}
            <tr>
                <td>{{i.created_by}}</td>
                <td>{{i.task_name}}</td>
                <td>{{i.task_priority}}</td>
                <td>{{i.task_status}}</td>
                <td>
                    <a href="{% url 'edittask' i.id %}" style="border: 2px solid">Edit</a>
                    <a href="{% url 'taskdel' i.id %}" style="border: 2px solid  ">Delete</a>
                    <a href="{% url 'markascompleted' i.id %}" style="border: 2px solid ">Mark as Complete</a>
                    <a href="{% url 'markasincompleted' i.id %}" style="border: 2px solid ">Mark as In Complete</a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endif %}

{% endblock content %}