{% extends 'index.html' %}


{% block content %}
<h1>This is Author page</h1>
<!DOCTYPE html>
<html>
<head>
<style>
#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}
</style>
</head>
<body>

<h1>A Fancy Table</h1>

<table id="customers">
  <tr>
    <th>Author Name</th>
    <th>Author Locationr</th>
    <th>Author Department</th>
  </tr>
  
  {% for i in author %}
  <tr>
    <td>{{i.author_name}}</td>
    <td>{{i.author_location}}</td>
    <td>{{i.author_department}}</td>
  </tr>
  {% endfor %}
    

</table>

</body>
</html>
{% endblock content %}
    
