<ul>
    <li><a href="{% url 'student' %}">Student</a></li>
    <li><a href="{% url 'addstudent' %}">Add Student</a></li>
    <li><a href="{% url 'mark' %}">Mark</a></li>
    <li><a href="{% url 'addmark' %}">Add Mark</a></li>
    <li><a href="{% url 'teacher' %}">Teacher</a></li>
    <li><a href="{% url 'addteacher' %}">Add Teacher</a></li>
    <li><a href="{% url 'subject' %}">Subject</a></li>
    <li><a href="{% url 'addsubject' %}">Add Subject</a></li>
    <li><a href="{% url 'university' %}">University</a></li>
    <li><a href="{% url 'adduniversity' %}">Add University</a></li>
  </ul>